{% extends "main.html" %}
{% block content %}
    <div class="row">
        {% include "sidebar.html" %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h2> Are you sure you want to delete {{category.name}}? </h2>
            <form action="#" method = 'post'>
                <button type="submit" class="btn btn-primary" id="submit" type="submit">
                Delete
                </button>
                <a class="btn btn-default" href="{{ url_for('showCategories',
                category_id=category.id) }}" role="button">
            Cancel
            </a>
            </form>
        </div>
    </div>
{% endblock %}
