{% extends "main.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <div class="list-group">
            <h4 class="list-group-item-heading">Categories</h4>
            <ul class="nav nav-sidebar">
                {% for category in categories %}
                <li{% if category.id == currentCategory.id %} class="active"{% endif %}>
                    <a href="{{ url_for('showItems', category_id = category.id) }}">
                        {{ category.name }}
                        <span class="badge" title="Number of items">{{ category.count }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Items</h1>
        <h2 class="sub-header">{{ currentCategory.name }}</h2>
        {% if items != [] %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.price }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
        <div class="row placeholders">
        </div>
        {% endif %}
    </div>
</div>
</div>




{% endblock %}
